.home{
    padding: 10vh;
}
.Pal1{
    display: flex;
    

}
.upper{
    background-image: linear-gradient(to right, white ,yellow);

}

.brand {
    display: flex;
    

} 
nav{
    float: right;
    display: flex;
    list-style: none;

   
}
.flright{
    float: right;
    
}
.rain{
    display: flex;
}
button{
    background-color: #c06a1a;
    color: white;
    border-radius: 40px 40px 20px ;
    height: 5vh;
    width: 15vh;
    border: none;
}
.mainburger{
   justify-content: right;
   background-position: left;
   
   
}
.services{
    display: flex;
    padding: 10vh;
    justify-content: space-around;
    background-color: lavender;
    
    
    
    
}
.services p{
    font-weight: normal;
    font-size: x-small;
   
}
.serv{
    border-color: violet;
    border: 0.5px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
}

.serv2{
    border-color: violet;
    border: 0.5px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    font-size: x-small;
    box-shadow: 1px 2px 4px 2px rgb(185, 178, 178);
    border: none;
    
    }
.services2{
    display: flex;
    justify-content: space-around;
   
   
}
.services3{
    padding-top: 7vh;
    display: flex;
    justify-content: space-around;

    }
    .services h3{
        color: maroon;
    }
    .serv3{
        border-color: violet;
        border: 0.5px;
        border-style: solid;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding-top: 3vh;
        font-size: x-small;
        box-shadow: 1px 2px 4px 2px rgb(185, 178, 178);
        border: none;

        }
    .services3 h3{
        color:maroon;
     }
    .services2 h3{
        color:maroon;
    }

.menu{
    text-align:center;
   
   

}
.mobile{
    display: flex;
    justify-content: space-between;
    padding-top: 7vh;
    
    
}
.discover{
    display:flex;
    justify-content: space-between;
    background-color: yellow;
}

.checker{
    background-color: lavender;

}
.footer{
    text-align: center;
    display:flex;
}
    
    

    

    

