
body{
    font-family: Poppins;
}
.home{
    padding: 10vh;
}
.Pal1{
    display: flex;
    justify-content: space-between;
     float: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 17px;
   

}
.upper{
display: flex;
float: right;
display: flex;
justify-content: space-between;
 float: right;
list-style: none;
display: flex;
justify-content: space-between;
text-decoration: none;
font-size: 17px;

}

.brand {
    display: flex;
    font-family:Sofia;
    float: left;

} 


    

.rain{
    display: flex;
}
button{
    background-color: #c06a1a;
    color: white;
    border-radius: 40px 40px 20px ;
    height: 5vh;
    width: 15vh;
    border: none;
}
.mainburger{
   justify-content: right;
   background-position: left;
   
   
}
.services{
    display: flex;
    padding: 10vh;
    justify-content: space-around;
    background-color: lightcyan;
    
    
    
    
}
.services p{
    font-weight: normal;
    font-size: x-small;
   
}
.serv{
    border-color: violet;
    border: 0.5px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
}

.serv2{
    border-color: violet;
    border: 0.5px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    font-size: x-small;
    box-shadow: 1px 2px 4px 2px rgb(185, 178, 178);
    border: none;
    
    }
.services2{
    display: flex;
    justify-content: space-around;
   
   
}
.services3{
    padding-top: 7vh;
    display: flex;
    justify-content: space-around;

    }
    .services h3{
        color: maroon;
    }
    .serv3{
        border-color: violet;
        border: 0.5px;
        border-style: solid;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding-top: 3vh;
        font-size: x-small;
        box-shadow: 1px 2px 4px 2px rgb(185, 178, 178);
        border: none;

        }
    .services3 h3{
        color:maroon;
     }
    .services2 h3{
        color:maroon;
    }

.menu{
    text-align:center;
   
   

}
.mobile{
    display: flex;
    justify-content: space-between;
    padding-top: 7vh;
    
    
}
.discover{
    display:flex;
    justify-content: space-between;
    background-color: yellow;
}

.checker{
    background-color: lightcyan;
    font-size: x-large;

}
.footer{
    display:flex;
    justify-content: space-between;
    font-weight: normal;
    
}
.seclast{
    display: flex;
    align-content: center;
    font-family:Sofia;
    
}
.footerup{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    background-color: lightcyan;
 
}
    ul{
        list-style: none;
    }
    #email{
        height: 7vh;
        width: 30vh;
        border-color: #e6dfdf;
        border-right: none;
        border-radius: 5px;
        border-width: thin;
       
        
    }
    #sub{
        color: white;
        background-color: #F6B400;
        height: 7vh;
        width: 20vh;
        margin: 0px;
        padding: 0%;
        border: none;
    }
.site{
    padding-top: 4vh;
}
.navbar{
    padding: 10px;
    margin-top:0%;
    font-style: italic;
    
}

    

    

